arrow    BINARY ARROW.BMP
check0   BINARY CHECK0.BMP
check1   BINARY CHECK1.BMP
check2   BINARY CHECK2.BMP
down0    BINARY DOWN0.BMP
down1    BINARY DOWN1.BMP
exclam   BINARY exclam.bmp
ind0     BINARY IND0.BMP
ind1     BINARY IND1.BMP
left0    BINARY LEFT0.BMP
left1    BINARY LEFT1.BMP
marker   BINARY MARKER.BMP
radio0   BINARY RADIO0.BMP
radio1   BINARY RADIO1.BMP
right0   BINARY RIGHT0.BMP
right1   BINARY RIGHT1.BMP
sys0     BINARY SYS0.BMP
sys1     BINARY SYS1.BMP
up0      BINARY UP0.BMP
up1      BINARY UP1.BMP
cour8    BINARY COUR8.RFN
sserif10 BINARY SSERIF10.RFN
sserif8  BINARY SSERIF8.RFN
